---
import Layout from '../layouts/Layout.astro';
import Game from '../components/Game.astro';
---

<Layout title="Tres en Raya Profesional">
	<main>
		<h1>Tres en Raya</h1>
		<Game />
	</main>
</Layout>